In [1]:
import utils

alerts, jams = utils.load_data()

In [2]:
alerts.shape

(5975, 16)

In [3]:
alerts.head()

,country,city,reportRating,reportByMunicipalityUser,confidence,reliability,type,uuid,roadType,magvar,subtype,street,location,pubMillis,endreport,reportDescription
0,CI,Antofagasta,1,false,5,10,HAZARD,a123f22e-e5e0-4c6c-8a4e-7434c4fd2110,6,17,HAZARD_ON_ROAD_CONSTRUCTION,Av. República de Croacia,"{'x': -70.412429, 'y': -23.676846}",1724417637000,1724425125000,NaN
1,CI,Antofagasta,0,false,0,5,JAM,1d8df954-e380-4327-8015-f4fbadf74f2d,6,4,JAM_HEAVY_TRAFFIC,Av. Edmundo Pérez Zujovic,"{'x': -70.392283, 'y': -23.617475}",1724423878000,1724425125000,NaN
2,CI,Antofagasta,0,false,0,5,JAM,c53a5bc6-f6b6-44b8-a5bd-af69b60a4580,1,359,,Pasaje El Volcán,"{'x': -70.385619, 'y': -23.573323}",1724425406000,1724425125000,NaN
3,CI,Antofagasta,1,false,0,5,JAM,53b6ff5f-d078-421d-9f78-03e534d78989,2,1,,Azapa,"{'x': -70.384986, 'y': -23.616328}",1724425622000,1724425125000,NaN
4,CI,Antofagasta,2,false,0,5,ACCIDENT,e87552f7-4572-4096-9fdd-9400ad90e7f8,2,281,,Irarrázaval,"{'x': -70.385121, 'y': -23.603942}",1724425939000,1724425125000,NaN

In [9]:
alerts_cleaned = utils.extract_event(alerts, alerts.type.unique(), extra_col=['type']).drop('uuid', axis=1)
alerts_cleaned['day'] = alerts_cleaned.inicio.dt.day
alerts_cleaned['month'] = alerts_cleaned.inicio.dt.month
alerts_cleaned['year'] = alerts_cleaned.inicio.dt.year
alerts_cleaned = alerts_cleaned.drop(['inicio', 'fin', 'geometry'], axis=1)

alerts_cleaned.head()

,street,x,y,type,hour,week_day,day_type,day,month,year
0,Av. República de Croacia,-70.412429,-23.676846,HAZARD,8,4,s,23,8,2024
1,Av. Edmundo Pérez Zujovic,-70.392283,-23.617475,JAM,10,4,s,23,8,2024
2,Pasaje El Volcán,-70.385619,-23.573323,JAM,11,4,s,23,8,2024
3,Azapa,-70.384986,-23.616328,JAM,11,4,s,23,8,2024
4,Irarrázaval,-70.385121,-23.603942,ACCIDENT,11,4,s,23,8,2024

In [13]:
alerts_cleaned.to_csv('alerts.csv', sep=',', decimal='.', encoding='utf-8', index=False)